@tailwind base;
@tailwind components;
@tailwind utilities;

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

#backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(10px);
}
#backdrop + div {
  width: 100%;
  height: 800px;
  background-color: rgba(0, 0, 0, 0.829);
}
#backdrop + div::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(9, 9, 11, 0), rgb(9, 9, 11));
}
